<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
    
		<Async name="AsyncAppender">
            <AppenderRef ref="FileAppender"/>
        </Async>
        
        <!-- Console Appender -->
       	<Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5p] [user:%X{user}] [uri:%X{uri}] %c{1} - %m%n"/>
        </Console>

        <!-- Rolling File Appender -->
        <RollingFile name="FileAppender"
                     fileName="logs/app.log"
                     filePattern="logs/app-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] %c{1} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>

    </Appenders>

    <Loggers>
        <!-- Application Logs -->
        <Logger name="com.example.demo" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>

        <!-- Spring Boot Internal Logs -->
        <Root level="warn">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>